*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.titleBox{
    width: 100%;
    height: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBox h1{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 55px;

    color: #000000;
}

.contentBox{
    background: #2180A5;
    border-radius: 15px;
    margin: 50px;
    /* width: 1290px; */
    width: 82%;
    height: 696px;
    margin: 0px auto;

}

.inputsBoxTop{
    display: flex;
    justify-content: space-around;
    align-items:end;
    padding-bottom: 40px;
    height: 160px;
}

h1{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;

    color: #FFFFFF;
}

.individualInputBox{
    /* width: 381px; */
    width: 30%;
}

.inputsBoxTop .textField{
    width: 100%;
    height: 53px;

    background: #E5F7F8;
}

.contentBoxBottomPart{
    display: flex;
    justify-content: space-between;
    height: 536px;
    border-radius: 15px;
}

.imageBox{
    /* object-fit: cover; */
    width: 50%;
    object-fit: cover;
    /* height: 100vh;
    background-color: red; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBox img{
    width: 85%;
}

.rightBox{
    width: 50%;
    position: relative;
    align-items: end; 
    
}

.inputBoxBottom{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-items:end;
    width: 100%;
    /* background-color: black; */

}

.createAccountButton{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 3% 18% 0;

    display: flex;
    justify-content: end;

}

.createAccountButton button{
    width: 30%;
    height: 53px;
    background: #E5F7F8;

    cursor: pointer;
}

.createAccountButton h1{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;

    color: #000000;

}


.inputBoxBottom div{
    width: 63.67%;
    /* background-color: red; */
    padding: 0 3% 71% 0%;
}

.inputBoxBottom .textField{
    width: 100%;
    height: 53px;

    background: #E5F7F8;
}

.textField{
    text-align: center;
}