@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap');

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background: #FFFFFF;
}
  
.buscadorDoc{

    position: absolute;
    height: 10000px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 30%;
}

.r{
    margin-left: 20%;
    font-size: 500px;
}

