.header{
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: 100px;
    top: 0;
    background-color: #FFFFFF;
    
  }
  
  .header nav{
      height: 100%;
      width: 100%;
      /* width: 90%; */
      /* centrando la cajita */
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1%;
  }
  
  
  .header .logo img{
    height: 100px;
    width: auto;
    margin-top: -20%;
    transition: all 0.3s;
  }
  
  .header .navLinks{
      cursor: pointer;
      width: 48.96%;
  
      /* Quitamos puntitos de la lista que no nos interesa */
      list-style: none;
      
      /* Alineamos el texto horizonalmente */
      display: flex;
      justify-content:space-around;
  
      /* La fuente y tamaño de las letras */
      font-family: 'League Spartan';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 23px;
      
  }
  
  .header .navLinks .item {
      text-decoration: none;
  }
  
